In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
csvFile = open("result_ddm1_peuvariee.csv", "r")
reader = csv.reader(csvFile)
list1 = []
list2 = []
list3 = []
list4 = []
for item in reader:
    list1.append(item[0])
    list2.append(item[1])
    list3.append(item[2])
    list4.append(item[3])
csvFile.close()
data = {'id': list2, 'notes': list3, 'score': list4}
df_ddm1 = pd.DataFrame(data, index = list1).iloc[1:, ]

In [6]:
test = df_ddm1[0:20]
test

    id notes score
30   1     5     3
30   8     4     1
30   4     4     2
30   9     4     1
30   3     4     3
30   6     5     1
30   5     5     2
30  10     5     1
30   2     5     3
30   7     4     3
30   1     5     2
30   4     4     1
30   3     4     2
30   5     5     1
30   2     5     3
30   8     4     1
30   9     4     2
30   6     5     1
30  10     5     2
30   7     4     3

In [43]:
for i in range(0, 19): 
    if i < 9: 
        print("A")
        if i%2 == 0: 
            print("MS")
        else: 
            print("SM")
    elif i == 9: 
        i += 1
    elif i < 14: 
        print("MM")
    elif i == 14:
        i += 1
    elif i < 19:
        print("SS")

A
MS
A
SM
A
MS
A
SM
A
MS
A
SM
A
MS
A
SM
A
MS
MM
MM
MM
MM
SS
SS
SS
SS

In [59]:
A = []
MS = []
SM = []
MM = []
SS = []

In [60]:
for i in range(0, 19): 
    if i < 9: 
        A.append(test.iloc[i][2])
        if i%2 == 0: 
            MS.append(test.iloc[i][2])
        else: 
            SM.append(test.iloc[i][2])
    elif i ==9: 
        i += 1
    elif i < 14: 
        MM.append(test.iloc[i][2])
    elif i == 14: 
        i += 1    
    elif i < 19:
        SS.append(test.iloc[i][2])

In [61]:
A

['3', '1', '2', '1', '3', '1', '2', '1', '3']

In [62]:
MS

['3', '2', '3', '2', '3']

In [63]:
SM

['1', '1', '1', '1']

In [64]:
MM

['2', '1', '2', '1']

In [65]:
SS

['1', '2', '1', '2']

In [25]:
dic = {'MS': MS, 'SM': SM, 'MM': MM, 'SS': SS}

In [26]:
dic

{'MS': [['30', '1 - 8', '5', '3'],
  ['30', '4 - 9', '4', '2'],
  ['30', '3 - 6', '4', '3'],
  ['30', '5 - 10', '5', '2'],
  ['30', '2 - 7', '5', '3']],
 'SM': [['30', '8 - 4', '4', '1'],
  ['30', '9 - 3', '4', '1'],
  ['30', '6 - 5', '5', '1'],
  ['30', '10 - 2', '5', '1']],
 'MM': [['30', '7 - 1', '4', '3'],
  ['30', '1 - 4', '5', '2'],
  ['30', '4 - 3', '4', '1'],
  ['30', '3 - 5', '4', '2'],
  ['30', '5 - 2', '5', '1']],
 'SS': [['30', '8 - 9', '4', '1'],
  ['30', '9 - 6', '4', '2'],
  ['30', '6 - 10', '5', '1'],
  ['30', '10 - 7', '5', '2']]}